@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "vazir";
  src: local("vazir"), url(./assets/fonts/Vazir.ttf) format("truetype");
}
html {
  direction: rtl;
  font-family: "vazir";
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
